body {
    margin: 0px;
    color: var(--color-text);
    background-color: var(--color-background);
    transition: color ease-in-out .1s,
                background-color ease-in-out .1s;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    padding: 0% 3.5%;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header-container div{
    display: flex;
    align-content: flex-end;
    flex-direction: row;
}

    .header-container div > *:not(:last-child) {
        margin-right: 2em;
    }

    .header-container a {
        text-decoration-line: underline;
        text-decoration-color: transparent;
        color: white;
        font-style: italic;
        transition-duration: .5s;
    }

        .header-container a:hover {
            text-decoration-color: var(--color-primary);
            transition: text-decoration-color ease-in-out .1s;
        }

.page {
    padding: 0% 20%;
}

p, li {
    font-size: 20px;
}

h3 {
    font-size: 20px;
}

h2 {
    font-size: 28px;
}

h1 {
    font-size: 36px;
}

.page h1{
    text-align: center;
}

.page h2, h3, h4, h5, h6 {
    text-align: left;
    text-decoration: underline 3px var(--color-primary);
}

.page p {
    text-indent: 2%;
}

.recent-posts {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 25px;
    margin: 1.5vw 0vw;
}

.post-preview {
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 100%;
    overflow: hidden;
    position: relative;
}

.post-image {
    padding: 1.25vw 0vw 0.25vw;
    width: 25vw;
    height: auto;
    border-radius: 8%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.post-full-image {
    padding: 1.25vw 0vw 0.25vw;
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.post-preview h3 {
    font-size: 2em;
    margin: 0px;
    text-align: center;
}

.post-tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 4%;
    margin-right: 4%;
}

.post-tag {
    padding: 0vw .75vw .15vw;
    margin: .25vw .5vw;
    background: var(--color-secondary);
    border-top: 2pt solid var(--color-primary);
    border-bottom: 2pt solid var(--color-primary);
    transition: background ease-in-out .1s,
                border-top-color ease-in-out .1s,
                border-bottom-color ease-in-out .1s;
}

.post-date {
    text-align: right;
    padding-right: 2.5vw;
    justify-content: right;
    font-style: italic;
}

    .post-date::before {
        content: "- Posted on ";
    }

.post-excerpt {
    margin: .5vw 0vw calc(.5vw + 33px + 1ex);
    padding: 0% 4%;
    font-size: 1.33em;
}

.post-preview .btn {
    width: 100%;
    border-radius: 0px;
    font-size: 1.4em;
    display: flex;
    justify-content: center;
    padding: 6px 0px;
    position: absolute;
    bottom: 0px;
}

.btn {
    background-color: var(--color-primary);
    border-radius: 5px;
    font-size: 1.8em;
    padding: 6px 18px;
    text-align: center;
    cursor: pointer;
    color: white !important;
    align: center;
    text-decoration: none;
    transition: background-color ease-in-out .1s;
}

    .btn span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

        .btn span:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
        }

    .btn:hover span {
        padding-right: 25px;
    }

        .btn:hover span:after {
            opacity: 1;
            right: 0;
        }

.btn-back {
    background-color: var(--color-primary);
    border-radius: 5px;
    font-size: 1em;
    padding: 6px 18px;
    text-align: center;
    cursor: pointer;
    color: white !important;
    align: center;
    display: inline-block;
    width: 100px;
    transition: background-color ease-in-out .1s;
}

    .btn-back span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

        .btn-back span:before {
            content: '\00ab';
            position: absolute;
            opacity: 0;
            top: 0;
            left: -20px;
            transition: 0.5s;
        }

    .btn-back:hover span {
        padding-left: 25px;
    }

        .btn-back:hover span:before {
            opacity: 1;
            left: 0;
        }

.newsletter {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding-top: 50px;
    font-size: 1.2em;
    top: 10%;
    left: 0%;
    width: 17%;
    padding-left: 1%;
}

.newsletter-post {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 1.8em;
    width: 70%;
    margin: auto;
}

.newsletter-form {
    width: 100%;
    margin: 0%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 10px;
}

.newsletter input.btn {
    width: 30%;
    align-self: flex-end;
    font-size: 1.1em;
    font-family: unset;
    padding: 1%;
    margin: 0%;
    border-width: 0;
    border-radius: 0px 5px 5px 0px;
}

.newsletter-post input.btn {
    width: 30%;
    align-self: flex-end;
    font-size: 0.6em;
    font-family: unset;
    padding: 1%;
    margin: 0%;
    border-width: 0;
    border-radius: 0px 5px 5px 0px;
}

.newsletter input {
    width: 70%;
    border-width: 0;
    border-radius: 5px 0px 0px 5px;
    font-family: unset;
    padding-left: 2%;
}

.newsletter-post input {
    width: 70%;
    border-width: 0;
    border-radius: 5px 0px 0px 5px;
    font-family: unset;
    padding-left: 2%;
}

.post-title {
    font-size: 45px;
}

.page a {
    text-decoration-line: underline;
    text-decoration-color: transparent;
    color: var(--color-primary);
    transition-duration: .5s;
    transition: color ease-in-out .1s;
}

    .page a:hover {
        text-decoration-color: var(--color-primary);
        transition: text-decoration-color ease-in-out .1s;
    }

blockquote {
    font-size: 20px;
    background: var(--color-secondary);
    border-left: 5px solid var(--color-primary);
    padding-left: 5px;
    transition: background ease-in-out .1s,
                border-left ease-in-out .1s;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.post-body blockquote p {
    text-indent: 0px;
    margin: 0px;
}

code {
    /*font: normal inherit 'Consolas';*/
    font-weight: inherit;
    font-size: 80%;
}

pre.hljs {
    background: var(--color-codeback);
}

pre code {
    font-size: inherit;
    background: var(--color-codeback);
    color: var(--color-codetext);
    transition: background ease-in-out .1s,
                color ease-in-out .1s;
}

    pre code .hljs-subst {
        color: var(--color-codetext);
    }

    pre code .hljs-string {
        color: #011d9b;
    }

pre code table {
    background: inherit;
    width: 100%;
}

.line-number {
    padding: 0px;
    color: var(--color-codeline);
    background-color: inherit;
    text-align: end;
    transition: color ease-in-out .1s;
}

.code-line {
    padding: 0px;
    padding-left: 10px;
}

.quote-surround {
    text-align: center;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 60% 1fr;
    font-style: italic;
}

    .quote-surround > *:not(:is(::before,::after)) {
        grid-column: 2;
    }

    .quote-surround::before,
    .quote-surround::after {
        font-size: 4em;
        color: var(--color-primary);
    }

    .quote-surround::before {
        grid-column: 1;
        content: '\201C';
        align-self: start;
        justify-self: end;
    }

    .quote-surround::after {
        grid-column: 3;
        content: '\201D';
        align-self: end;
        justify-self: start;
        position: relative;
        top: 1ex;
    }

.theme-toggle {
    background-color: transparent;
    border-style: none;
    padding: 0px;
}

.post-body ol {
    counter-reset: item;
}

    .post-body ol > li {
        /*display: block;*/
        counter-increment: item;
    }

        .post-body ol > li::marker {
            content: counters(item, ".") ". ";
        }